.cartitems {
  margin: 100px 170px;
}

.cartitems hr {
  height: 3px;
  background: #e2e2e2;
  border: 0;
}

.cartitems-format-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 75px;
  padding: 20px 0px;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
}

.cartitems-format {
  font-size: 17px;
  font-weight: 500;
}

.carticon-product-icon {
  height: 62px;
}

.cartitems-remove-icon {
  width: 15px;
  margin: 0px 40px;
  cursor: pointer;
}

.cartitems-quantity {
  width: 64px;
  height: 50px;
  border: 2px solid #ebebeb;
  background: #fff;
}

.cartitems-down {
  display: flex;
  margin: 100px 0px;
}

.cartitems-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  gap: 50px;
}

.cartitems-total h1 {
  font-size: 32px;
  font-weight: 450;
}

.cartitems-total-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}

.cartitems-total button {
  width: 150px;
  height: 45px;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 5px;
}

.cartitems-button {
  display: flex;
  justify-content: space-between;
  margin-right: 0;
}

.continue-shop-btn {
  background-color: black;
  color: white;
}

.buy-btn {
  background-color: #008ded;
  color: white;
}

@media (max-width: 768px) {
  .cartitems {
    margin: 18px 30px;
  }

  .cartitems hr {
    height: 2px;
  }

  .cartitems-format-main {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr;
    gap: 18px;
    padding: 7px 0;
    font-size: 15px;
    font-weight: 380;
  }

  .cartitems-format {
    font-size: 12px;
    padding: 10px 6px;
  }

  .cartitems-format p {
    margin: 0;
    padding: 0 2px;
  }

  .cartitems-format p:nth-child(2) {
    /* Title */
    font-size: 12px;
    font-weight: 360;
  }

  .carticon-product-icon {
    height: 30px;
    width: 35px;
    margin-right: 8px;
  }

  .cartitems-remove-icon {
    width: 12px;
    height: 12px;
    margin: 10px auto;
  }

  .cartitems-quantity {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    font-size: 12px;
    margin: 0 10px;
  }

  .cartitems-down {
    display: flex;
    margin: 40px 0;
  }

  .cartitems-total {
    margin: 0;
  }

  .cartitems-total h1 {
    font-size: 22px;
    font-weight: 400;
  }

  .cartitems-total-item {
    padding: 10px 5px;
  }

  .cartitems-button button {
    width: 135px;
    font-size: 13px;
    font-weight: 400;
  }

  .continue-shop-btn,
  .buy-btn {
    margin: 15px 10px;
  }
}

@media (max-width: 480px) {
  .cartitems {
    margin: 15px 15px;
  }

  .cartitems hr {
    height: 2px;
  }

  .cartitems-format-main {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr;
    gap: 12px;
    padding: 8px 0;
    font-size: 13px;
    font-weight: 425;
  }

  .cartitems-format {
    align-items: center;
    font-size: 11px;
    font-weight: 380;
    padding: 8px 0;
  }

  .cartitems-format p {
    margin: 0;
    padding: 0 1px;
  }

  .cartitems-format p:nth-child(2) {
    /* Title */
    font-size: 12px;
    font-weight: 330;
  }

  .carticon-product-icon {
    height: 30px;
    width: 40px;
    margin-right: 6px;
  }

  .cartitems-remove-icon {
    width: 12px;
    height: 12px;
    margin: 10px auto;
  }

  .cartitems-quantity {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    font-size: 12px;
  }

  .cartitems-down {
    display: flex;
    margin: 35px 0;
  }

  .cartitems-total {
    margin: 0;
  }

  .cartitems-total h1 {
    font-size: 24px;
    font-weight: 400;
  }

  .cartitems-total-item {
    padding: 10px 10px;
  }

  .cartitems-button button {
    width: 125px;
    font-size: 12px;
    font-weight: 450;
  }

  .continue-shop-btn,
  .buy-btn {
    margin: 8px 0;
  }
}
