.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2px 10px;
  box-shadow: 0 1px 3px -2px black;
  align-items: center;
  height: 130px;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 45px;
}

.nav-logo img {
  max-height: 140px;
  width: auto;
  height: auto;
  display: block;
  object-fit: contain;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: #626262;
  font-size: 19px;
  font-weight: 500;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  cursor: pointer;
}

.nav-menu hr {
  border: none;
  width: 70%;
  height: 3px;
  border-radius: 3px;
  background: #ff4141;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 45px;
}

.nav-login-cart button {
  width: 90px;
  height: 45px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 60px;
  color: #515151;
  font-size: 16px;
  font-weight: 500;
  background: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.nav-login-cart button:hover {
  background-color: #e8e2e2;
}

.nav-login-cart img {
  cursor: pointer;
  width: 35px;
  height: 35px;
  object-fit: cover;
}

.nav-login-cart button:active {
  background: #f3f3f3;
}

.nav-cart-count {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -53px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}

.nav-dropdown {
  display: none;
}

@media (max-width: 1280px) {
  .navbar {
    padding: 12px 50px;
  }

  .nav-logo img {
    width: 60px;
  }

  .nav-logo p {
    font-size: 25px;
  }

  .nav-menu {
    gap: 30px;
    font-size: 16px;
  }

  .nav-login-cart {
    gap: 30px;
  }

  .nav-login-cart button {
    width: 120px;
    height: 45px;
    font-size: 16px;
  }

  .nav-cart-count {
    margin-left: -40px;
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .navbar {
    padding: 12px 30px;
  }

  .nav-menu {
    gap: 25px;
    font-size: 14px;
  }

  .nav-login-cart button {
    width: 80px;
    height: 35px;
    font-size: 14px;
  }

  .nav-login-cart img {
    width: 30px;
  }

  .nav-cart-count {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 800px) {
  .navbar {
    padding: 10px 0px;
  }

  .nav-dropdown {
    display: block;
    width: 28px;
    rotate: -90deg;
    transition: 0.5s;
  }

  .nav-menu {
    display: none;
    height: 80px;
    width: 100%;
    position: absolute;
    background-color: white;
    justify-content: center;
    top: 50px;
  }

  .nav-menu-visible {
    display: flex;
  }

  .nav-dropdown.open {
    transform: rotate(90deg);
  }
}

@media (max-width: 500px) {
  .navbar {
    width: 8px 0px;
    gap: 0;
  }

  .nav-logo {
    transform: scale(0.8);
  }

  .nav-menu {
    height: 70px;
    top: 50px;
  }

  .nav-login-cart {
    transform: scale(0.8);
  }
}
