.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2px 10px;
  box-shadow: 0 1px 3px -2px black;
  align-items: center;
  height: 130px;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 45px;
}

.nav-logo img {
  max-height: 140px;
  width: auto;
  height: auto;
  display: block;
  object-fit: contain;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 55px;
  font-size: 18px;
  font-weight: 450;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  cursor: pointer;
}

.nav-menu hr {
  border: none;
  width: 70%;
  height: 3px;
  border-radius: 3px;
  background: #ff4141;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 45px;
  position: relative;
}

.nav-login-cart button {
  width: 90px;
  height: 45px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 60px;
  color: #515151;
  font-size: 16px;
  font-weight: 500;
  background: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.nav-login-cart button:hover {
  background-color: #e8e2e2;
}

.nav-login-cart img {
  cursor: pointer;
  width: 35px;
  height: 35px;
  object-fit: cover;
}

.nav-login-cart button:active {
  background: #f3f3f3;
}

.nav-cart-count {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -53px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-left: 20px;
}

.line {
  width: 24px;
  height: 2px;
  background-color: #011f26;
  margin: 3px 0;
  transition: all 0.3s ease;
}

@media (min-width: 481px) and (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000;
  }

  .nav-logo img {
    max-height: 125px;
    margin-left: 15px;
  }

  .nav-logo {
    margin-left: 0;
  }

  .nav-menu.open {
    display: flex;
  }

  .hamburger {
    display: flex;
    margin-right: 20px;
  }

  .nav-login-cart button {
    width: 65px;
    height: 32px;
    font-size: 14px;
  }

  .nav-login-cart img {
    width: 30px;
    height: 30px;
  }

  .nav-cart-count {
    width: 15px;
    height: 15px;
    font-size: 12px;
    margin-top: -30px;
    margin-left: -48px;
  }
}

@media (max-width: 480px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000;
  }

  .nav-logo img {
    max-height: 90px;
    margin-left: 5px;
  }

  .nav-logo {
    margin-left: 0;
  }

  .nav-menu.open {
    display: flex;
  }

  .hamburger {
    display: flex;
    margin-left: -8px;
  }

  .nav-login-cart button {
    width: 50px;
    height: 26px;
    font-size: 13px;
  }

  .nav-login-cart img {
    width: 25px;
    height: 25px;
  }

  .nav-cart-count {
    width: 14px;
    height: 14px;
    font-size: 10px;
    margin-top: -25px;
    margin-left: -48px;
  }
}
