.shopcategory-index-sort {
  display: flex;
  margin: 50px 130px;
  justify-content: space-between;
  align-items: center;
}

.shopcategory-sort {
  padding: 10px 13px;
  border-radius: 35px;
  border: 1px solid #888;
}

.shopcategory-sort img {
  height: 10px;
  width: 12px;
}

.shopcategory-index-sort p span {
  font-weight: 500;
}

.shopcategory-products {
  margin: 20px 125px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 80px;
}

.shopcategory-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  width: 200px;
  height: 65px;
  border-radius: 70px;
  background: #ededed;
  color: #787878;
  font-size: 19px;
  font-weight: 500;
}

@media (max-width: 480px) {
  .shopcategory-banner {
    width: 95%;
  }

  .shopcategory-products {
    width: 95%;
  }

  .shopcategory-loadmore {
    margin: 60px auto;
    width: 130px;
    height: 40px;
    font-size: 13px;
  }
}
