.contact-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.get-in-touch {
  display: block;
  text-align: center;
  margin-bottom: 70px;
  padding: 40px 20px;
  background-image: url('../../assets/images/contact-header-img.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  height: 350px;
}

.get-in-touch h1 {
  font-size: 36px;
  margin: 30px;
  color: black;
}

.get-in-touch p {
  font-size: 16px;
  margin: 40px;
  line-height: 1.5;
  color: #161f30;
}

.contact-info {
  flex: 1;
  max-width: 30%;
  margin-left: 25px;
  gap: 20px;
  padding: 20px;
}

.contact-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-card .icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.contact-card h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 420;
  color: #333;
  margin: 0 0 5px 0;
}

.contact-card a,
.contact-card p {
  font-size: 16px;
  font-weight: 380;
  color: #3d3d3d;
  text-decoration: none;
}

.contact-card a:hover {
  text-decoration: underline;
}

.contact-form {
  flex: 2;
  max-width: 65%;
  padding: 35px;
  margin-right: 25px;
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.contact-form p {
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form .form-row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-row input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.contact-form textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  height: 100px;
  resize: vertical;
}

.contact-form button {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 23%;
}

.contact-form button:hover {
  background-color: #0056b3;
}
