.hero {
  height: 75vh;
  display: flex;
  background-image: url('../../assets/gem-jew-2.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 60px;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
  padding-left: 160px;
  line-height: 1.1;
}

.hero-left h2 {
  color: white;
  font-size: 50px;
  font-weight: 350;
}

.hero-left p {
  color: whitesmoke;
  font-size: 16px;
  font-weight: 320;
  margin-top: 20px;
}

.hero-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 220px;
  height: 52px;
  border-radius: 55px;
  margin-top: 20px;
  background: #ff4141;
  color: white;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
}

.hero-latest-btn img {
  width: 20px;
  height: 10px;
}

@media (max-width: 1280px) {
  .hero-left {
    padding-left: 80px;
  }

  .hero-left h2 {
    font-size: 20px;
  }

  .hero-left p {
    font-size: 50px;
  }

  .hero-hand-icon img {
    width: 65px;
  }

  .hero-latest-btn {
    width: 250px;
    height: 50px;
    font-size: 16px;
  }

  .hero-right img {
    width: 400px;
  }
}

@media (max-width: 800px) {
  .hero-left {
    padding-left: 30px;
  }

  .hero-left h2 {
    font-size: 16px;
  }

  .hero-left p {
    font-size: 40px;
  }

  .hero-hand-icon img {
    width: 50px;
  }

  .hero-latest-btn {
    width: 220px;
    height: 40px;
    font-size: 13px;
  }

  .hero-right img {
    width: 300px;
  }
}

@media (max-width: 500px) {
  .hero {
    flex-direction: column;
  }

  .hero-right {
    display: none;
  }

  .hero-left h2 {
    font-size: 18px;
  }

  .hero-left p {
    font-size: 50px;
  }

  .hero-hand-icon img {
    width: 55px;
  }

  .hero-latest-btn {
    width: 200px;
    height: 45px;
    font-size: 14px;
  }
}
