.hero {
  height: 75vh;
  display: flex;
  background-image: url('../../assets/gem-jew-2.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 60px;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
  padding-left: 160px;
  line-height: 1.1;
}

.hero-left h2 {
  color: white;
  font-size: 50px;
  font-weight: 350;
}

.hero-left p {
  color: whitesmoke;
  font-size: 16px;
  font-weight: 320;
  margin-top: 20px;
}

.hero-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 220px;
  height: 52px;
  border-radius: 55px;
  margin-top: 20px;
  background: #ff4141;
  color: white;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
}

.hero-latest-btn img {
  width: 20px;
  height: 10px;
}

/* Extra large screens, TV (1201px and more) */
@media (min-width: 1201px) {
  .hero {
    flex-direction: column;
    background-image: url('../../assets/gem-jew-2.jpg');
    background-size: cover;
    background-position: center;
    height: 42vh;
  }

  .hero-left {
    padding: 120px;
    gap: 16px;
  }

  .hero-left h2 {
    font-size: 24px;
    font-weight: 350;
  }

  .hero-left p {
    font-size: 46px;
    font-weight: 350;
  }

  .hero-latest-btn {
    width: 250px;
    height: 55px;
    font-size: 20px;
    font-weight: 350;
  }

  .hero-latest-btn img {
    width: 26px;
    height: 14px;
  }
}

/* Desktops, large screens (1025px - 1200px) */
@media (min-width: 1025px) and (max-width: 1200px) {
  .hero {
    flex-direction: column;
    background-image: url('../../assets/gem-jew-2.jpg');
    background-size: cover;
    background-position: center;
    height: 45vh;
  }

  .hero-left {
    padding: 80px;
    gap: 16px;
  }

  .hero-left h2 {
    font-size: 20px;
    font-weight: 400;
  }

  .hero-left p {
    font-size: 48px;
    font-weight: 400;
  }

  .hero-latest-btn {
    width: 220px;
    height: 55px;
    font-size: 18px;
    font-weight: 400;
  }

  .hero-latest-btn img {
    width: 23px;
    height: 14px;
  }
}

/* Small screens, laptops (769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .hero {
    flex-direction: column;
    background-image: url('../../assets/gem-jew-2.jpg');
    background-size: cover;
    background-position: center;
    height: 55vh;
  }

  .hero-left {
    padding: 75px;
    gap: 15px;
  }

  .hero-left h2 {
    font-size: 22px;
    font-weight: 400;
  }

  .hero-left p {
    font-size: 48px;
    font-weight: 400;
  }

  .hero-latest-btn {
    width: 250px;
    height: 60px;
    font-size: 18px;
    font-weight: 450;
  }

  .hero-latest-btn img {
    height: 15px;
    width: 25px;
  }
}

/* iPads, Tablets (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .hero {
    flex-direction: column;
    background-image: url('../../assets/gem-jew-2.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
  }

  .hero-left {
    padding: 40px;
    gap: 14px;
  }

  .hero-left h2 {
    font-size: 17px;
    font-weight: 350;
  }

  .hero-left p {
    font-size: 40px;
    font-weight: 350;
  }

  .hero-hand-icon img {
    width: 50px;
  }

  .hero-latest-btn {
    width: 200px;
    height: 50px;
    font-size: 16px;
  }

  .hero-latest-btn img {
    width: 18px;
    height: 10px;
  }
}

/* Mobile devices (320px - 480px) */
@media (max-width: 480px) {
  .hero {
    flex-direction: column;
    background-image: url('../../assets/gem-jew-2.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
  }

  .hero-left {
    padding: 35px;
    gap: 10px;
  }

  .hero-left h2 {
    font-size: 13px;
    font-weight: 300;
  }

  .hero-left p {
    font-size: 25px;
    font-weight: 300;
  }

  .hero-latest-btn {
    width: 165px;
    height: 40px;
    font-size: 14px;
    font-weight: 320;
  }

  .hero-latest-btn img {
    width: 16px;
    height: 9px;
  }
}
