.about-page {
  width: 80%;
  margin: auto;
  padding: 20px;
  margin-bottom: 50px;
}

/* content left start here */

.mission {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 60px;
}

.content-left {
  flex: 2;
  padding: 20px;
  text-align: center;
}

.content-left h1 {
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.content-left p {
  font-size: 16px;
  font-weight: 350;
  line-height: 1.6;
  color: #333;
}

.img-right {
  order: 2;
  flex: 1;
  padding-left: 33px;
}

.img-right img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* content right start here */

.founding-story {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
}

.content-right {
  flex: 2;
  padding: 20px;
  text-align: center;
}

.content-right h1 {
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.content-right p {
  font-size: 16px;
  font-weight: 350;
  line-height: 1.6;
  color: #333;
}

.img-left {
  flex: 1;
  padding-right: 40px;
}

.img-left img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
