.img-section {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.img-section img {
  width: 100%;
  height: 350px;
  display: block;
  object-fit: cover;
  filter: blur(1px);
}

.img-section h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 54px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
}

.our-services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.our-services h2 {
  margin: 0 30px 0 85px;
  padding: 15px;
  font-size: 38px;
  font-weight: 400;
  white-space: pre-wrap;
  flex: 1;
  text-align: left;
  color: #333;
  white-space: pre-wrap;
  line-height: 1.4;
}

.our-services p {
  margin: 0 80px 0 50px;
  padding: 15px;
  font-size: 18px;
  font-weight: 350;
  flex: 2;
  text-align: justify;
  color: #666;
  white-space: pre-wrap;
  line-height: 1.6;
}

.services-content {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-bottom: 40px;
}

.service-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  width: 250px;
}

.card p {
  padding: 8px;
  font-size: 15px;
  font-weight: 350;
}

.card:hover {
  transform: translateY(-5px);
}

.icon {
  width: 64px; /* Adjust icon size as needed */
  height: 64px;
  margin-bottom: 15px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

/* Example specific icon styles */
.card:nth-child(odd) .icon {
  background-color: #f0f0f0;
  border-radius: 50%;
  padding: 10px;
}

.card:nth-child(even) .icon {
  background-color: #e0e0e0;
  border-radius: 50%;
  padding: 10px;
}

@media (max-width: 480px) {
  .img-section img {
    height: 38vh;
    display: block;
    object-fit: cover;
  }

  .img-section h2 {
    font-size: 28px; /* Smaller font size for mobile */
  }

  .our-services {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items */
    padding: 15px; /* Adjust padding */
  }

  .our-services h2 {
    margin: 0 0 15px; /* Adjust margin for mobile */
    font-size: 24px; /* Smaller font size for mobile */
    text-align: center; /* Center text */
  }

  .our-services p {
    margin: 0 0 15px; /* Adjust margin for mobile */
    font-size: 14px; /* Smaller font size for mobile */
    font-weight: 380;
    text-align: center; /* Center text */
  }

  .services-content {
    flex-direction: column; /* Stack cards vertically */
    align-items: center; /* Center cards */
  }

  .service-cards {
    justify-content: center; /* Center cards */
  }

  .card {
    width: 100%; /* Full width for cards on mobile */
    max-width: 300px; /* Limit max width */
    margin: 10px 0; /* Add margin for spacing */
  }
}
