.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
  padding: 20px 110px;
}

.footer-links {
  display: flex;
  list-style: none;
  gap: 80px;
  color: black;
  font-size: 18px;
  font-weight: 350;
}

.footer-links li {
  cursor: pointer;
}

.footer-social-icon {
  display: flex;
  gap: 25px;
  cursor: pointer;
  margin-bottom: 0;
}

.footer-icons-container {
  padding: 7px;
  padding-bottom: 4px;
  background: transparent;
  border: none;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  width: 100%;
  margin-bottom: 10px;
  color: black;
  font-size: 14px;
  font-weight: 350;
}

.footer-copyright hr {
  width: 100%;
  border: none;
  border-radius: 10px;
  height: 2px;
  background: #a5a5a5;
}

@media (min-width: 481px) and (max-width: 768px) {
  .footer {
    padding: 20px 60px;
    gap: 20px;
  }

  .footer-links {
    gap: 55px;
    font-size: 15px;
    font-weight: 380;
  }

  .footer-social-icon {
    gap: 25px;
  }

  .footer-social-icon img {
    width: 20px;
    height: 20px;
  }

  .footer-icons-container {
    padding: 5px;
  }

  .footer-copyright {
    gap: 20px;
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 20px 50px;
    gap: 20px;
  }

  .footer-links {
    gap: 35px;
    font-size: 14px;
    font-weight: 360;
  }

  .footer-social-icon {
    gap: 16px;
  }

  .footer-social-icon img {
    width: 18px;
    height: 18px;
  }

  .footer-icons-container {
    padding: 3px;
  }

  .footer-copyright {
    gap: 18px;
    font-size: 12px;
  }
}
